html {
	height: 100%;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	padding: 0; 
	margin: 0; 
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(169, 163, 163); 
	font-family: 'Play', sans-serif;
	color: rgb(255,214,4); 
	min-height: 100%;
}

/*backgroundcolor på sidan  rgb(44, 43, 43);*/

header {
	font-family: 'Carter One', cursive;
	color: rgb(255,214,4);
	margin: 0.3em 3em; 
	text-shadow: 1px 1px 2px rgb(201, 31, 31), 0 0 1em rgb(77, 142, 71), 0 0 0.2em rgb(157, 248, 124);
	font-size: 23px;
	text-align: center;
}

main {
	margin: 0.2em 1em;  
	padding: 1em;
	width: 100%;
	text-align: center;
	height: auto;
}

h2 {
	font-size: 30px;
	margin: 0.2em; 
}
h3 {
	font-size: 40px;
	margin-top: 1em;
	padding: 0.3em; 
}

/*#upper-text-container {
	background-color: rgb(84, 76, 76);
	padding: 1em; 
	margin: 0.3em 0.3em; 
}*/


#champion-btn, #team-btn, .pokemon-button {
	padding: 1em; 
	border-radius: 20px;
	background-color: #E3350D;
	border: 1px solid black; 
	font-weight: bold;
	margin: 0.7em 0.3em;
	background: linear-gradient(to bottom right, #d12847, #f4ff5a);
	border: 0;
	border-radius: 12px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 2.5;
	outline: transparent;
	padding: 0 1rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow .2s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
  }
  
  #champion-btn:not([disabled]):hover {
	box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  #team-btn:not([disabled]):hover {
	box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.pokemon-button:not([disabled]):hover {
	box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.pokemon-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color:rgb(158, 150, 150);
	text-align: center;
	margin-top:2em;
	height: 200px; 
}
#search-label {
	margin-top: 0.3em; 
	font-size: 20px;

}


.search-pokemon[type=text] {
	width: 80%;
	padding: 1em; 
	border: none;
	border-radius: 20px; 
	margin-top: 1em; 
}


.vy-1{
	background-color: rgb(158, 150, 150);
	border:rgb(44, 43, 43);
}

.vy-2-invisible{
	display: none;
	background-color: rgb(158, 150, 150);
	border:rgb(232, 227, 227);
}

.pokemon-container {
	width: 100%;
}

.pokemon-container > .pokemon-card {
	background-color:rgb(239, 236, 236);
	margin: 1.3em;
	padding: 0.5em; 
	height: 220px;  
	border-radius: 0.4em;
	box-shadow: 0 4px 8px 0 rgba(40, 39, 39, 0.2), 0 6px 20px 0 rgba(41, 41, 41, 0.19);

}
.pokemon-card:hover {
	

}
.pokemon-name {
	margin-top: 0.3em; 
	padding: 0.4em; 
	font-size: 20px;
}

.pokemon-img {
	font-size: 100%;
}